Senior .Net Web Developer (10 Positions) - Niteco (vietnam) Co., Ltd
• Good at English
• Have relevant formal education, at minimum, a bachelor's degree with a major in software development or its equivalent
• At least four (4) years of professional experience with developing websites based on the Microsoft .NET platform, (C#, SQL Server, ASP.NET, WebForms and/or MVC). This also includes the use of relevant client side technologies, such as HTML, CSS, JavaScript, JQuery, etc.
• Experience in software architecture and patterns
• Experience in multi browser development support and building user interfaces that validates according to W3C, following the latest accessibility standards
• Good command of the English language, both in writing, speaking, and comprehension
Additional experience and knowledge within these areas below is preferable but not required:
• Development of mobile applications for iOS; iPad, iPhone, Android, etc.
• HTML5, CSS3, Windows Azure, Unit testing
• Sharepoint, DotNetNuke, Umbraco

To apply, please submit the following information
• Job Application Letter with “Senior .Net Developer position” in the subject line.
• Updated CV in English, including your contact e-mail, phone number and salary expectations.
Please apply to: hr(at)niteco.se
For more information, please visit our website at: http://www.niteco.se/en/careers/
Read about Niteco on Facebook https://www.facebook.com/Niteco 
===========================

Senior PHP for Enterprise Systems ($800~$1500 Net) - Contemi Vietnam
You should have at least 3 years of experience working (the more experience the better), good English and you make a point of keeping up-to-date with what’s new.

You focus on fundamental knowledge of PHP:
- Very keen on PHP.
- Design Pattern.
- SOLID principles.
- Zend framework or any good MVC framework.
- Joomla.
- Web service protocol: XML-RPC, JSON-RPC, SOAP.
- ORM.
- HTML5/CSS3, HTML/XHTML.
- Javascript: jQuery and jQueryUI, ExtJS, AngularJS/ BackboneJS. 
===========================
Senior PHP Developers (very Competitive Salary) - Saritasa
- BS Degree or higher in computer science/computer engineering/information technology
- Read and Write English well.

- Apache 1.x, 2.x
- PHP 5
- MySQL 5
- XHTML/CSS
- Experienced with MySQL, including complex MySQL syntax. Can work with MySQL via command line (without Phpmyadmin)
- SSH
- SVN/Mercurial/Git

PLUS:
- Jquery
- PHP5 OOP, Design Patterns
- SQL optimization techniques
- Having your own PHP framework will be a good plus
- Experience working with
+ PHP frameworks
+ Ecommerce modules (paypal, authorize.net)
- Your personal attitude to learn everyday
- Experience working with web-farms & load balancing
- Experience working on high-traffic applications/web-sites with huge business logic
- Ability to solve non-trivial complex tasks
- You demonstrate vision and planning in everything you do
- You are self-motivated, clever, and able to think out of the box
- You know the difference between: "I can't do it" and "I can't do it yet"
- Your motivation increases when the challenges gets harder

ABOUT YOU:
- You're a whiz at writing a code (or you want to become one)
- You're very familiar with PHP. Your own score is 10 of 10.
- You LOVE design patterns and know how to use them. Singleton, Bridge, Proxy - you can write them without googling for samples
- You like clean, commented and documented code.
- SCRUM - you know what that is.
- You believe "right" is mostly determined by users and objective metrics.
- You're not a UX designer but you want to suggest how to make an application (or service) better.
- You want to share your ideas and opinions as well as adopt other's thinking and ideas.
- Given a limited amount of free time, you would self-educate about what is new out there in development world.
- Given an unlimited amount of free time, you would write unit-tests covering 100% of your codebase
- You're hungry to learn and getting things to work.
- You're hungry to deliver results in a fast and efficient manner
- You're hungry to work with people who "know" what they're doing and do it right
- When you say it's done - it's done and there are no bugs
- You respect people for what they do, not for what they say
- You like to work with skilled and amazing development team 

===========================
+ Senior .Net Developer - Rocketuncle
• Solid knowledge in ASP.NET (7+ years of experience)
• Solid Knowledge in MVC, WCF, WPF, Signal R, Knockout JS, REST API
• Solid knowledge about Design Pattern, OOP.
• Good at English
• Solid knowledge of Microsoft SQL Server OR MySQL and SQL language
• Experience in working with MongoDB is a good plus
• Experience working with agile methodologies
• Solid interpersonal and communication skills
• Self-motivated, independent, committed 

===========================
Senior .NET Developer - swiss IT bridge Co., Ltd
Techniques:

1. Must have:
- At least 04+ years of experience in software development industry.
- Solid understanding of Object Oriented Programming and C#.
- Strong skill at Web API, ASP.NET, ASP.NET MVC, WCF, LINQ, Entity Framework.
- Experience with unit tests, test-driven development, code coverage, testing frameworks and refactoring code.
- Experience in design patterns and open source frameworks (Spring, Hibernate).
- Experience in using HTML, CSS, JavaScript library/framework such as jquery, Bootstrap.
- Experience in using JSON/XML with Ajax techniques.
- Strong skill at MS SQL Server programming (stored procedure, function, job, trigger, view).
- Strong skill in database design, database management, particularly MS SQL.
- Ability to deploy and manage IIS.
- Experience with Git or similar version control systems as SVN, TFS, Clearcase.
- Experience with UML or business workflow (BPM).

2. Nice to have:
- Experience on SharePoint.
- Experience on auto deployment tools and process to apply.
- Experience on native mobile applications(iOS, Android) or Xamarin.
- Experience on HTML5, CSS3, ReactJS, AngularJS.
- Experience on Scrum/Agile/Kanban.

3. Language Skills:
- Fluency in English communication, good verbal, read and written skills.
- Skills in German is a big advantage.

Please submit your CV with focus on what you have accomplished in the past and send it to HR Department via email

We look forward to meeting you. Hẹn gặp lại! 

=========================
+ PHP Developer - swiss IT bridge Co., Ltd
- experienced in agile software development methods (such as Scrum or Kanban) or eager to learn them.
- excellent spoken and written command of English.
- able to adjust your working time according the the project schedule.
- 2 years experience in PHP/MySQL.
- MVC frameworks and RESTful services are your hobbies.
- experience in one of the following frameworks: Zend, Laravel, Symfony
- HTML5/CSS3 is no challenge and you keep up to date with web trends/standards. Boilerplate/Bootstrap/Foundation are no strangers to you.
- experienced in JavaScript and familiar with libraries such as jQuery


Please submit your CV with focus on what you have accomplished in the past and send it to HR Department

We look forward to meeting you. Hẹn gặp lại! 
=====================
+ Senior Php/magento Developer - CJ CGV Cinemas
Chuyên Môn Của Bạn
- At least 2 year of working experience with PHP/Magento.

- Experience with Web Server on Linux/Centos and Window Web Server

- HTML, PHP, MySQL, JavaScript/JQuery skills required

- Magento Certificate is a plus

- Security knowledge is preferred

- Excellent logical thinking ability

- Ability to work in a team.

- English skills in reading and writing.

== 
+ Senior PHP Developer - VietnamWorks

Good knowledge in some back end technologies like Symfony or Zend

Good knowledge in NoSQL databases and Jenkins

Good knowledge in building systems such as ant or Phing

Good knowledge in mobile technologies for ex. Sencha Touch or PhoneGap

Deep architectural understanding of web and mobile applications

Superior creative and innovative problem-solving skills

Initiative and the ability to work independently and in a team

Knowledge in standard front end technologies like HTML5, CSS, Twitter Bootstrap, JavaScript (we use JQuery), REST, JSON, Elastic Search

Knowledge of Open Source libraries, tools and frameworks, e.g. forl logging, wiring, testing, and building. The more the merrier!

Experience with agile software development methodologies like XP and Scrum
An interest to learn more about new languages and frameworks

Last but not least we expect you to have strong communication skills (English and Vietnamese verbal and written) and preferably 5+ years experience of software development in a similar role 
